<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminlogin</title>
</head>
<body>
    {% include 'commonlink.html' %}

    <center>
        <div class="n1">
    <h1>admin login</h1>

    <form action="adminlogin" method="POST">
        {% csrf_token %}
        <center>
    <table class="table" border="3" height="100px">
        <tr>
        <td><label>user name</label></td>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td><label>user passward</label></td>
        <td><input type="text" name="pw"></td> 
    </tr>
    </tr>
        <td><input type="submit" value="login"></td>
        
    </tr>
    </table>
    </center>
    </form>


</body>
</html>