<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customerlogin</title>
</head>
<body>
    {% include 'commonlink.html' %}
    <center>
    <div class="n1">
    
       
            <h1>customerlogin</h1>

    <form action="customerlogin" method="POST">
        {% csrf_token %}
    <table border="3" height="200px">
        <tr>
        <td><label>user name</label></td>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td><label>user passward</label></td>
        <td><input type="text" name="pw"></td>
</tr><tr>        <td><input type="reset" value="Clear"><td><input type="submit" value="login"></td>
        
    </tr>
    </table>
    </center>
    </form>
    </div>


</body>
</html>