<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commonlink</title>
</head>
<style>
        body{
            background-image:url("{% static 'image/hotel.avif' %}");
            background-size: cover;
        }
        .n1
        {
            margin-top: 100px;
            background-color: aliceblue;
            min-height: 200px;
            width: 700px;
            opacity: 0.7;

        }
       
    </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<body><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'customerhome' %}">HOME</a>
          <a class="nav-link" href="{% url 'customerviewroom' %}">AVAILABLE ROOMS</a>
          <a class="nav-link" href="{% url 'customercheckout' %}">CHECK OUT</a>
          <a class="nav-link" href="{% url 'home' %}">LOGOUT</a>
        </div>
      </div>
    </div>
  </nav>
    <!--<a href="{% url 'customerhome' %}">HOME</a><br>
    <a href="{% url 'customerviewroom' %}">AVAILABLE ROOMS</a><br>
    <a href="{% url 'customercheckout' %}">CHECK OUT</a><br>
     <a href="{% url 'home' %}">LOGOUT</a><br>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
